---

---

<div class="container">
  <span> Diseñado y Desarrollado con Astro </span>
  <span>   © 2024 Aníbal Reyes </span>
</div>

<style>
  .container {
    width: 100vw;
    bottom: 0px;
    height: 100px;
    background: #555;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
  }
</style>
