---

---

<section>
    <div class="proyectImage">

    </div>
    <div class="proyectTecnologies">

    </div>
    <div class="proyectName">
        Recacsu
    </div>
</section>

<style>
    .proyectImage{
        width: 300px;
        height: 250px;
        border-radius: 10px 10px 0 0;
        background-color: #bbb;
        border-bottom: 1px solid white;

    }

    .proyectTecnologies,.proyectName{
        width: 300px;
        height: 50px;
        background: #bbb;
        
    }
    .proyectName{
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin-top: 10px;
        
    }


</style>