---
---


<section>
    <ul>
        <li>Introducción</li>
        <li>Proyectos</li>
        <li>Experiencia Relevante</li>
        <li>Fortalezas y habilidades clave</li>
        <li>Objetivos clave</li>
        <li>Objetivos Profecionales</li>
        <li>Contacto</li>
    </ul>
</section>

<style>
    section{
        position: fixed;
        right: 30px;
        top: 100px;
        font-size: small;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    li{
        cursor: pointer;
        transition: all 1s forwards;
    }
    li:hover{
        transform:scale(1.2);
    }
</style>
